.a1, .a2, .a3, .a4, .a7, .a91, .a11, .a12, .a13, .a14 {
  display: flex;
  width: 550px;
  height: 60px; 
  margin: 5px;
  padding: 5px;
  background-color: rgb(189, 189, 204);
}
.a11, .a12, .a13, .a14 {
  flex-direction: column;
  width: 110px;
  height: 550px; 
}
.a13 {
  margin: 0px;
  padding: 0px;
}
.a1 {
  justify-content: flex-start;
}
.a2, .a12, .a13,.a41 {
  justify-content: flex-end;
}
.a3 {
  justify-content: space-around;
}
.a7, .a91{
  height: 120px; 
}
.a41, .q142, .q153{
  flex: 1;
}
.a42,.a41,.a72, .a81 {
  display: flex;
}
.a72,.a91 {
  align-items: center;
}
.a91 {
  justify-content: center;
}
.q1, .q141, .q143, .q153, .q151, .q152, .q6{
  width: 100px;
  height: 50px; 
  margin: 5px;
  background-color: #834242;
  text-align: center;
}
.q83 {
  width: 100px;
  margin: 5px;
  background-color: #834242;
  text-align: center;
}

.q141, .q143, .q151, .q152 {
  height: 25px; 
  background-color: hsl(0, 72%, 13%);
}
.q142, .q153 {
  background-color: hsl(135, 76%, 19%);
  text-align: center;
  margin: 5px;
}
.q151, .q152 {
  height: 50px;

}

.q6 {
  width: 80px;
  height: 40px; 
  margin: 5px;
  background-color: hsl(0, 72%, 46%);
}
